<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <!-- <div id="app">
      {{ titulo }}
    </div> -->
    <div id="app">
      <h2>Lista de Tarefas</h2>
      <input type="text" placeholder="Insira uma nova tarefa" v-model="novaTarefa" @keyup.enter="tarefas.push(novaTarefa)">
      <button @click="insereTarefa">Inserir</button>
      <ul>
        <li v-for="item in tarefas">{{ item }}</li>
      </ul>
    </div>
    <script>
      var aplicacao = new Vue({
        el: '#app',
        data: {
          titulo: "Hello World",
          novaTarefa: '',
          tarefas: [
            'Exercícios de HTML e CSS',
            'Exercícios de Javascript',
            'Exercícios de VueJS',
            'Exercícios de Angular',
            'Juntar tudo no Projeto Toolbox2'
          ]
        },
        methods: {
          insereTarefa() {
            if(!!this.novaTarefa) {
              this.tarefas.push(this.novaTarefa)
              this.novaTarefa = '';
            }
          }
        }
      })
    </script>
  </body>
</html>